<div class="tab-content">
    <div style="text-align:center;">
        <br/>
        <h4 style="color: #ff6600;">Узел удален! Обновите конфигурацию.</h4>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        calculateHeight();
        $("#ac-1").prop('checked', true);
    });

</script>
