<div class="tab-content">
    <div style="text-align:center;">
        <h4>Для данного типа узла свойства отстутсвуют</h4>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        calculateHeight();
        $("#ac-1").prop('checked', true);
    });

</script>
