
@{
    ViewBag.Title = "Отказано в доступе";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <div> 
        Отказано в доступе.
        <a href="javascript:history.go(-1)">Назад</a>
    </div>
</body>
</html>
