<div id="SvgTopMenu">
    <table class="table table-bordered table-condensed table-responsive">
        <thead>
            <tr>
                <th>МГГБ</th>
                <th>ПГ</th>
                <th>ПУЗГ</th>
                <th>ПК</th>
                <th>ППДС</th>
                <th>Щитовая</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="mgbb_g20">Загазованность 20</td>
                <td id="pg_g20">Загазованность 20</td>
                <td id="puzg_g20">Загазованность 20</td>
                <td id="pk_g20">Загазованность 20</td>
                <td id="ppds_g20">Загазованность 20</td>
                <td id="kip_g20"></td>
            </tr>
            <tr>
                <td id="mgbb_g50">Загазованность 50</td>
                <td id="pg_g50">Загазованность 50</td>
                <td id="puzg_g50">Загазованность 50</td>
                <td id="pk_g50">Загазованность 50</td>
                <td id="ppds_g50">Загазованность 50</td>
                <td id="kip_g50"></td>
            </tr>
            <tr>
                <td id="mgbb_fire">Пожар</td>
                <td id="pg_fire">Пожар</td>
                <td id="puzg_fire"></td>
                <td id="pk_fire"></td>
                <td id="ppds_fire"></td>
                <td id="kip_fire">Пожар</td>
            </tr>
            <tr>
                <td id="mgbb_door">Проникновение</td>
                <td id="pg_door"></td>
                <td id="puzg_door"></td>
                <td id="pk_door"></td>
                <td id="ppds_door"></td>
                <td id="kip_door">Проникновение</td>
            </tr>
        </tbody>
    </table>
    <audio type="text" id="audiofile" size="80" src="~/Content/Sound2.mp3"></audio>   
</div>
